@{
    ViewData["Title"] = "Create New Forum";
}
<h1 class="display-4">Create New Forum</h1>
<form method="post">
    <b><font size="4">Forum Name:&nbsp;&nbsp;&nbsp;</font></b><input type="text" name="ForumName">
    &nbsp;&nbsp;
    <button><b><font color="black" size="4">Add</font></b></button>
</form>
